
<h1>{{title}}</h1>
<div class="td-content">
    <section class="container">
        <ul class="row td-product-list">
            <li class="col-lg-3 td-product">
                <div class="card td-productbox">
                    <div class="td-product-bookmark"></div>
                    <h5 class="td-product-vendor-name">the Technology Company Corporation</h5>
                    <h4 class="td-product-title">Microsoft O365 Suite Total Package</h4>
                    <h2 class="td-product-tags">
                        <span class="badge">SaaS</span>
                        <span class="badge">Email Storage</span>
                        <span class="badge">Email Security</span>
                    </h2>
                    <p class="td-product-description">Businesses that need the power of Office with advanced services for document sharing, compliance and
                        management features for IT. </p>
                    <a href="" class="btn btn-primary btn-large">Build Solution</a>
                </div>
            </li>
        </ul>
    </section>
</div>